<ion-view title="Story">

    <ion-content has-header="true" padding="true">

        <div class="list card">
            <div class="item item-image">
                <img src="{{story.source}}" />
            </div>

            <button class="button icon-left button-block button-positive ion-thumbsup" ng-click="like(story.id)">Like</button>
            <a class="button icon-left button-block button-positive ion-chatbox" href="#/app/comment/{{story.id}}">Comment</a>
            <a class="button icon-left button-block button-positive ion-share" href="#/app/share/{{story.id}}">Share</a>

        </div>

    </ion-content>

</ion-view>
